Tarea3 - Compra y Venta en Angular + REST + EJB/Tarea3 - backend/Tarea3/Tarea3-ejb/target/classes/META-INF/MANIFEST.MF
*.class
Tarea3 - Compra y Venta en Angular + REST + EJB/Tarea3 - backend/Tarea3/Tarea3-web/.settings/org.eclipse.wst.common.component
Tarea3 - Compra y Venta en Angular + REST + EJB/Tarea3 - backend/Tarea3/Tarea3-web/.classpath
Tarea3 - Compra y Venta en Angular + REST + EJB/Tarea3 - backend/Tarea3/Tarea3-web/.classpath
Tarea3 - Compra y Venta en Angular + REST + EJB/Tarea3 - backend/Tarea3/Tarea3-model/.classpath
Tarea3 - Compra y Venta en Angular + REST + EJB/Tarea3 - backend/Tarea3/Tarea3-ejb/.settings/org.eclipse.wst.common.component